ebankwebservice/src/main/webapp/wsdl/WSBean.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://vn.com.scb" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://vn.com.scb" xmlns:intf="http://vn.com.scb" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://vn.com.scb" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendsms_TNBResponse">

      <wsdl:part name="sendsms_TNBReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="callExecutionRequest">

      <wsdl:part name="methodname" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="partnercode" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="arrObjParas" type="impl:ArrayOf_xsd_anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStringRequest">

      <wsdl:part name="str" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendsms_TNBRequest">

      <wsdl:part name="mobile" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="message" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="partnercode" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="accesskey" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="timestamp" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="signature" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="callExecutionResponse">

      <wsdl:part name="callExecutionReturn" type="impl:ArrayOf_xsd_anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStringResponse">

      <wsdl:part name="getStringReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSBean">

      <wsdl:operation name="getString" parameterOrder="str">

         <wsdl:input message="impl:getStringRequest" name="getStringRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStringResponse" name="getStringResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="callExecution" parameterOrder="methodname partnercode arrObjParas">

         <wsdl:input message="impl:callExecutionRequest" name="callExecutionRequest">

       </wsdl:input>

         <wsdl:output message="impl:callExecutionResponse" name="callExecutionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendsms_TNB" parameterOrder="mobile message partnercode accesskey timestamp signature">

         <wsdl:input message="impl:sendsms_TNBRequest" name="sendsms_TNBRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendsms_TNBResponse" name="sendsms_TNBResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSBeanSoapBinding" type="impl:WSBean">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getString">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStringRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://vn.com.scb" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getStringResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://vn.com.scb" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="callExecution">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="callExecutionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://vn.com.scb" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="callExecutionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://vn.com.scb" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendsms_TNB">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendsms_TNBRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://vn.com.scb" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="sendsms_TNBResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://vn.com.scb" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSBeanService">

      <wsdl:port binding="impl:WSBeanSoapBinding" name="WSBean">

         <wsdlsoap:address location="http://localhost:8080/ebankgw_svr/services/WSBean"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
